@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: interstate, sans-serif;
  color: #323439;
  font-size: 16px;
}

.community {
    height: 400PX;
    width:  100%;
    background-image: url(../resources/images/two_women_sitting_on_white_ben.png);
    position: relative;
    background-position: top;
    color: white;
}

.community h1 {
  text-transform: uppercase;
  font: 30px "lemonmilk";
  line-height: 1.5;
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50px;
  transform: translateY(-85%);
  align-content: center;
}

.community h2 {
  position: absolute;
  width: 80%;
  font-weight: 400;
  font-size: 17px;
  top: 80%;
   align-content: center;
  justify-content: center;
  text-align: left;
  transform: translateY(-80%);
  left: 50px;
}

/* MAIN */

.article_container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headline {
    font: 20px "lemonmilk";
    margin-bottom: 30px;
    text-align: center;
}

.article_title {
    font: 17px "lemonmilk";
}


.article_img {
    height: 250px;
    width: 350px;
    margin: auto;
    object-fit: cover;
    object-position: top;
    margin-bottom: 15px;
}

.continue-reading-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }

.continue-reading-btn::after {
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    left: 0;
  }

.read-all-btn {
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    text-align: right;
}

.read-all-btn::after {
    content: "";
    justify-content: center;
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    right: 0;
  }

/* NEW ARTICLES */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-text {
  width: 100%;
}

.paragraph {
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 17px;
}

/* STORIES & INSPIRATION */


.inspiration_container {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.flex-container2 {
  display: flex;
flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.img2 {
width: 350px;
height: 250px;
object-fit: cover;
object-position: top;
margin-bottom: 15px;
}


.info {
  color: grey;
  font-size: 15px;
margin-top: 10px;
}

figcaption {
  display: block;
  text-align: left;
}


/* FOLLOW US ON INSTAGRAM */

.instagram {
    width: 80%;
    margin: auto;
}

.insta-flex {
    display: block;
    width: 100%;
}

.flex-container3 {
  display: flex;
  justify-content: space-between;
    margin-bottom: 20px;
}

.flex-container3 div {
    width: 100%;
    margin: auto;
}

.Insta {
  width: 100%;
}

.flex-container4 {
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-size: 15px;
  line-height: 1.3;
  padding: 10%;
    margin-bottom: 40px;
}

.insta-icon {
  width: 20px;
  margin-right: 4px;
}


/* DESKTOP VERSION*/
/* DESKTOP VERSION*/
/* DESKTOP VERSION*/

@media (min-width: 990px) {

body {
  font-family: interstate, sans-serif;
  color: #323439;
  font-size: 16px;
}

.section-h2::before {
  content: "";
  height: 90%;
  width: 5px;
  background-color: #CDC9C8;
  position: absolute;
  left: -10px;
  top: 0;
}


.community {
    height: 350px;
    background-image: url(../resources/images/two_women_sitting_on_white_ben.png);
    position: relative;
    background-position: top;
    color: white;

}

.community h1 {
  text-transform: uppercase;
  font: 40px "lemonmilk";
  line-height: 1.5;
  width: 50%;
  position: absolute;
  top: 60%;
  left: 300px;
  transform: translateY(-85%);
  align-content: center;
}

.community h2 {
  position: absolute;
  width: 30%;
  font-weight: 400;
  font-size: 17px;
  top: 80%;
   align-content: center;
  justify-content: center;
  text-align: left;
  transform: translateY(-80%);
    left: 300px;
}

/* MAIN */

.article_container {
    width: 55%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.headline {
    font: 18px "lemonmilk";
    margin-bottom: 30px;
    text-align: left;
}

.article_title {
    font: 12px;
}


.article_img {
    height: 250px;
    width: 400px;
    object-fit: cover;
    object-position: top;
}

.continue-reading-btn {
    margin-top: 20px;
    font-weight: 500;
    position: relative;
  }

.continue-reading-btn::after {
    content: "";
    width: 130px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    left: 0;
  }

.read-all-btn {
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    text-align: right
}

.read-all-btn::after {
    content: "";
    justify-content: center;
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #CDC9C8;
    bottom: 0;
    right: 0;
  }

/* NEW ARTICLES */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-text {
  width: 50%;
}

.paragraph {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 17px;
}

/* STORIES & INSPIRATION */


.inspiration_container {
    width: 55%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

.flex-container2 {
  display: flex;
    flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.story {
    width: 400px;
}

.img2 {
  width: 400px;
  height: 250px;
  object-fit: cover;
  object-position: top;
margin-bottom: 15px;
}


.info {
  color: grey;
  font-size: 15px;
margin-top: 10px;
}

figcaption {
  display: block;
  text-align: left;
  width: 400px;
}


/* FOLLOW US ON INSTAGRAM */

.instagram {
    width: 55%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.insta-flex {
display: flex;
justify-content: space-between;
}

.flex-container3 {
  display: flex;
}

.flex-container3 > div {
  font-size: 30px;
}

.Insta {
  height: 190px;
  width: 190px;
}

.flex-container4 {
  width: 400px;
  height: 380px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  font-size: 15px;
    line-height: 1.3;
  padding: 10%;
}

.insta-icon {
  width: 20px;
  margin-right: 4px;
}
}

