/* navigation and footer */

@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: interstate, sans-serif;
  color: #323439;
  font-size: 16px;
}

a {
  color: #323439;
  text-decoration: none;
}

button {
  color: #323439;
  font-family: interstate, sans-serif;
  background: none;
  border: none;
}

/* HEADER */

header {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

.top-layer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.newsletter-btn {
  margin-top: 5px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.newsletter-btn::after {
  content: "";
  width: 100%;
  height: 2px;
 position: absolute;
 bottom: 2px;
 left: 0;
  background-color: #CDC9C8;
}

.logo {
  height: 50px;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidenav-icon {
  height: 22px;
  margin: 2px;
}

.search-icon {
  position: relative;
}

.search-icon::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #CDC9C8;
  position: absolute;
  bottom: -2px;
  left: -75px;
}

.bag-icon {
  position: relative;
}

.bag-icon::before {
  content: "0";
  
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
  position: absolute;
  top: -12px;
  right: -10px;
 
}

.bag-icon::after {
  content: "";
  border-radius: 50%;
  width: 18px;
  height: 18px;
   background: #CDC9C8;
   position: absolute;
  top: -14px;
  right: -15px;
}

/* MAIN NAVIGATION */

nav {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: black;
}

.nav-item {
  margin: 60px 50px 30px;
}

.nav-item:hover {
  color: #CDC9C8;
}

/* FOOTER */

footer {
  background-color: #323439;
  color: white;
    height: auto;
}

footer h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

footer p {
  line-height: 1.5;
}

.logo-footer {
  height: 60px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  padding-top: 50px;
  width: 80%;
  margin: auto;
}

hr {
  margin: 10px auto;
  width: 80%;
  height: 1px;
  background: white;
}

<<<<<<< HEAD
.some_icons {
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-bottom: 25px;
}

=======
.some {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.some-icon {
  height: 35px;
  width: 35px;
  margin: 20px 10px;
}
>>>>>>> origin/master











