/* navigation and footer */

@font-face {
  font-family: "lemonmilk";
  src: url(../resources/fonts/LEMONMILK-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: interstate, sans-serif;
  color: #323439;
}

a {
  color: #323439;
  text-decoration: none;
}

button {
  color: #323439;
  font-family: interstate, sans-serif;
  background: none;
  border: none;
}

/* HEADER */

header {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
}

.top-layer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.newsletter-btn {
  position: relative;
  display: inline-block;
}

.newsletter-btn::after {
  content: "";
  width: 100%;
  height: 2px;
 position: absolute;
 bottom: 6px;
 left: 0;
  background-color: #CDC9C8;
}

.logo {
  height: 50px;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidenav-icon {
  height: 22px;
  margin: 2px;
}

.search-icon {
  position: relative;
}

.search-icon::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #CDC9C8;
  position: absolute;
  bottom: -2px;
  left: -75px;
}

.bag-icon {
  position: relative;
}

.bag-icon::before {
  content: "0";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -15px;
  right: -15px;
  
  background: #CDC9C8;
}

/* MAIN NAVIGATION */

nav {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 70px 50px;
}

/* FOOTER */

.footer {
  background-color: #323439;
  color: white;
}

.flexfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding: 30px;
  margin-top: 20px;
}

hr {
  margin: 10px;
  margin-right: 10%;
  margin-left: 10%;
  height: 2px;
  color: white;
  border-color: white;
  background: white;
}

.Some {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  margin-left: 40%;
  margin-right: 40%;
  justify-content: space-between;
}

.Someicon {
  height: 30px;
  width: 30px;

}